In [1]:
import pandas as pd
import numpy as np

In [2]:
#true positive is predicting its a cat, and its a cat
tp = 34

#true negative is predicting its a dog, and its a dog
tn = 46

#false positive is predicting its a cat, but its a dog
fp = 7

#false negative is predicting its a dog, but its a cat
fn = 13

In [3]:
print("Cat-classifier (where 'cat' is the positive prediction)")

print("True Positives", tp)
print("False Positives", fp)
print("False Negatives", fn)
print("True Negatives", tn)

print("-------------")

accuracy = (tp + tn) / (tp + tn + fp + fn)

precision = tp / (tp + fp)

recall = tp / (tp + fn)

print("Accuracy is", accuracy)
print("Recall is", round(recall,2))
print("Precision is", round(precision,2))

Cat-classifier (where 'cat' is the positive prediction)
True Positives 34
False Positives 7
False Negatives 13
True Negatives 46
-------------
Accuracy is 0.8
Recall is 0.72
Precision is 0.83

In [6]:
df = pd.read_csv('~/Downloads/c3.csv')

In [7]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [8]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [9]:
subset = df [df.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [10]:
(subset.actual == subset.model1).mean()

0.5

In [11]:
model_recall = (subset.actual == subset.model1).mean()

print("Model 1")
print(f"Model recall: {model_recall:.2%}")

Model 1
Model recall: 50.00%

In [12]:
model_recall = (subset.actual == subset.model2).mean()

print("Model 2")
print(f"Model recall: {model_recall:.2%}")

Model 2
Model recall: 56.25%

In [13]:
model_recall = (subset.actual == subset.model3).mean()

print("Model 3")
print(f"Model recall: {model_recall:.2%}")

Model 3
Model recall: 81.25%

In [14]:
subset = df [df.model1 == 'Defect']
subset

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [15]:
model_precision = (subset.actual == subset.model1).mean()

print("Model 1")
print(f"Model precision: {model_precision:.2%}")

Model 1
Model precision: 80.00%

In [16]:
subset = df [df.model2 == 'Defect']

# calculate precision
model_precision = (subset.actual == subset.model2).mean()

print("Model 2")
print(f"Model precision: {model_precision:.2%}")

Model 2
Model precision: 10.00%

In [17]:
subset = df [df.model3 == 'Defect']

# calculate precision
model_precision = (subset.actual == subset.model3).mean()

print("Model 3")
print(f"Model precision: {model_precision:.2%}")

Model 3
Model precision: 13.13%

In [19]:
df = pd.read_csv('~/Downloads/gives_you_paws.csv')

In [20]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [21]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [22]:
df['baseline'] = df.actual.value_counts().idxmax()

In [23]:
(df.actual == df.baseline).mean()

0.6508

In [24]:
model_acc = []

for model in df.columns[1:]:
    acc = (df.actual == df[model]).mean()
    model_acc.append([model, acc])

model_acc

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['baseline', 0.6508]]

In [25]:
pd.DataFrame(model_acc, columns=['model','accuracy'])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

In [26]:
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'dog']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
model_pre

[['model1', 0.8900238338440586],
 ['model2', 0.8931767337807607],
 ['model3', 0.6598883572567783],
 ['model4', 0.7312485304490948],
 ['baseline', 0.6508]]

In [28]:
pd.DataFrame(model_pre, columns=['model','precision'])

      model  precision
0    model1   0.890024
1    model2   0.893177
2    model3   0.659888
3    model4   0.731249
4  baseline   0.650800

In [29]:
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'cat']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
model_pre

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', nan]]

In [30]:
pd.DataFrame(model_pre, columns=['model','precision'])

      model  precision
0    model1   0.689772
1    model2   0.484122
2    model3   0.358347
3    model4   0.807229
4  baseline        NaN

In [31]:
from sklearn.metrics import classification_report

In [32]:
print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [33]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 2

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [34]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 3

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [35]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 4

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000