In [38]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import acquire
import prepare
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score

In [39]:
titanic=acquire.get_titanic_data()

In [40]:
titanic=prepare.prep_titanic(titanic)

In [41]:
train, validate, test=prepare.my_train_test_split(titanic, 'survived')

In [42]:
train.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,455,1,3,0,0,7.8958,1,1,0,0
380,380,1,1,0,0,227.5250,1,0,0,0
492,492,0,1,0,0,30.5000,1,1,0,1
55,55,1,1,0,0,35.5000,1,1,0,1
243,243,0,3,0,0,7.1250,1,1,0,1

In [43]:
titanic.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,1,0,71.2833,0,0,0,0
2,2,1,3,0,0,7.9250,1,0,0,1
3,3,1,1,1,0,53.1000,0,0,0,1
4,4,0,3,0,0,8.0500,1,1,0,1

In [44]:
train.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,455,1,3,0,0,7.8958,1,1,0,0
380,380,1,1,0,0,227.5250,1,0,0,0
492,492,0,1,0,0,30.5000,1,1,0,1
55,55,1,1,0,0,35.5000,1,1,0,1
243,243,0,3,0,0,7.1250,1,1,0,1

In [69]:
x_train=train.drop(columns='survived')

In [46]:
x_train.head()

,passenger_id,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,455,3,0,0,7.8958,1,1,0,0
380,380,1,0,0,227.5250,1,0,0,0
492,492,1,0,0,30.5000,1,1,0,1
55,55,1,0,0,35.5000,1,1,0,1
243,243,3,0,0,7.1250,1,1,0,1

In [47]:
y_train=train.survived

In [48]:
y_train.head()

455    1
380    1
492    0
55     1
243    0
Name: survived, dtype: int64

In [49]:
clf=DecisionTreeClassifier(max_depth=3, random_state=123)

In [50]:
clf

DecisionTreeClassifier(max_depth=3, random_state=123)

In [51]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=123)

In [52]:
model_1=clf.score(x_train, y_train)
model_1

0.8146067415730337

In [53]:
clf1=DecisionTreeClassifier(max_depth=4, random_state=123)

In [54]:
clf1.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=4, random_state=123)

In [55]:
model_2=clf1.score(x_train, y_train)

In [56]:
model_2

0.8258426966292135

In [57]:
clf2=DecisionTreeClassifier(max_depth=5, random_state=123)

In [58]:
clf2.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=123)

In [59]:
model_3=clf2.score(x_train, y_train)
model_3

0.8426966292134831

In [60]:
clf3=DecisionTreeClassifier(max_depth=6, random_state=123)

In [61]:
clf3.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6, random_state=123)

In [62]:
model_4=clf3.score(x_train, y_train)
model_4

0.8764044943820225

In [63]:
y_pred=clf.predict(x_train)

In [64]:
confusion_matrix(y_train, y_pred)

array([[293,  36],
       [ 63, 142]])

In [68]:
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.823034    0.797753  0.814607    0.810393      0.813328
recall       0.890578    0.692683  0.814607    0.791630      0.814607
f1-score     0.855474    0.741514  0.814607    0.798494      0.811726
support    329.000000  205.000000  0.814607  534.000000    534.000000

In [70]:
X_validate=validate.drop(columns='survived')
y_validate=validate.survived

In [71]:
clf.score(X_validate, y_validate)

0.7865168539325843